/* HEADER/NAVIGATION */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img {
    vertical-align: bottom;
    height: 18px;
  }
}

.global-nav-item {
  margin: 0 auto;
  text-decoration: none;
  color: #343030;
  font-weight: 600;
  font-size: 1.125em;
  display: inline-block;
  margin-left: 30px;
  transition: all 0.25s ease;
  &:hover {
    color: $green;
  }
}

.global-nav-items__container {
  & button {
    font-size: 1.125em;
  }
  @include breakpoint(md) {
    display: none;
  }
}

.contact-button-modal {
  display: inline-block;
  margin-left: 30px;
  @include breakpoint(md) {
    margin-left: 0px;
  }
}

.header__secondary {
  background-color: white;
  border-bottom: 1px solid #B4B4B4;
  position: relative;
  width: 100%;
  padding: 20px 0px;
  z-index: 99999;
}

.mob_nav__home {
  position: absolute;
  right: 32px;
  top: 60px;
  & .mob_nav__ham_icon, .mob_nav__ham_icon:before, .mob_nav__ham_icon:after {
    @include breakpoint(md) {
      background: $white;
    }
  }
}

.mob_nav__ham_menu_container {
  display: none;
  @include breakpoint(md) {
    display: inline-block;
    width: 30px;
    height: 38px;
    cursor: pointer;
    z-index: 99999;
    &.active .mob_nav__ham_icon {
      background: rgba(0,0,0,0);
    }
    &.active .mob_nav__ham_icon:before {
      top: 0;
      transform: rotate(45deg);
      background: $black;
    }
    &.active .mob_nav__ham_icon:after {
      top: 0;
      transform: rotate(135deg);
      background: $black;
    }
  }
}

.mob_nav__ham_icon {
  @include breakpoint(md) {
    position: relative;
    width: 30px;
    height: 2px;
    background: #343030;
    top: 18px;
    transition: all 0.3s ease;
    &:before, &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background: #343030;
      transition: all 0.3s ease;
    }
    &:before {
      top: -10px;
      right: 0;
    }
    &:after {
      top: 10px;
      right: 0;
    }
  }
}

.mobile-nav__btn {
  @include breakpoint(md) {
    padding-top: 15px;
  }
  & .button {
    @include breakpoint(md) {
      font-size: 1.5em;
    }
  }
}

.mob_nav__menu_overlay {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99998;
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
  -webkit-overflow-scrolling: touch;
  &.active {
    @include breakpoint(md) {
      opacity: 1;
      pointer-events: all;
    }
  }
  & ul {
    @include breakpoint(md) {
      width: 100%;
      padding: 0px 15px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      z-index: 100;
    }
  }
  & ul li a  {
    @include breakpoint(md) {
      color: $black;
      font-family: 'Space Grotesk';
      font-weight: 900;
      font-size: 1.5em;
      line-height: 2em;
      list-style: none;
      text-decoration: none;
    }
  }
  & a  {
    @include breakpoint(md) {
      display: inline-block;
    }
  }
}

.modal__outside_click {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

// Home Specific

.home__hero_nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include breakpoint(md) {
    align-items: flex-start;
  }
  & .mob_nav__ham_icon, .mob_nav__ham_icon:before, .mob_nav__ham_icon:after {
    @include breakpoint(md) {
      background: $white;
    }
  }
}

.home__hero_logo_lockup_container {
  display: flex;
  @include breakpoint(md) {
    flex-direction: column;
    align-items: baseline;
  }
}

.home__hero_logo_container {
  cursor: pointer;
  @include breakpoint(md) {
      top: auto;
      margin-bottom: 16px;
  }
  & img {
      display: block;
      height: 88px;
      @include breakpoint(md) {
          height: 96px;
      }
  }
}

.home__hero_nav_items {
  @include breakpoint(md) {
    display: none;
  }
}

.home__hero_nav_item {
  margin: 0 auto;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.25em;
  display: inline-block;
  margin-left: 30px;
  transition: all 0.25s ease;
  &:hover {
    color: $green;
  }
}

// Help Center

.help_center__section .global-nav-items__container {
  @include breakpoint(mobile) {
    display: inline-block;
  }
}