// Layout
$black: #343030;
$grey-33: #575151;
$grey-43: #726969;
$grey-53: #8C8282;
$grey-66: #ACA5A5;
$grey-76: #C5C0C0;
$grey-89: #E5E3E3;
$white: #fff;

// Core
$green: #22BFB3;
$purple: #594383;
$red: #F26668;
$yellow: #F4BD34;
$blue-dark: #4A4CAC;